[Unit]
Description=My App
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/competitor/myapp.py
Type=simple

[Install]
WantedBy=default.target
RequiredBy=network.target
